.app {
  display: flex;
  flex-direction: column;
  width: 125vw;
  height: 125vh;
  overflow: hidden;
  zoom: 0.8;
  transform-origin: top left;
}

.wrap {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main {
  flex: 1;
  padding: 28px 32px;
  min-width: 0;
  overflow-y: auto;
}
